/* Write your CSS here */
.back {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  padding: 20px;
  border-radius: 10px;
  margin-left: 40px;
}

.span {
  color: blue;
}

.background {
  background-color: white;
  background-size: cover;
  height: 100vh;
  padding: 50px;
}

.unList {
  display: flex;
  flex-direction: row;
}

.div3 {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  width: 650px;
  margin-left: 30px;
  padding: 20px;
}

.input {
  height: 50px;
  width: 300px;
}

.select1 {
  height: 50px;
  width: 100px;
}

.div2 {
  display: flex;
  flex-direction: column;
}

.but {
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 10px;
  background-color: #0b69ff;
  margin-top: 10px;
}

.paraList {
  list-style-type: none;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  display: flex;
  flex-direction: row;
  width: 400px;
}

.para2 {
  margin: 20px;
}

.con5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.head {
  text-align: center;
}

.con6 {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  width: 850px;
  margin-left: 70px;
}
